<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Interface</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="chat_window" style="height:400px; width:400px; overflow-y: scroll;">
    </div>

    <form id="chat_form">
        <input type="text" id="user_input" placeholder="Type your message...">
        <input type="submit" value="Send">
    </form>

    <script>
        $(document).ready(function(){
            $("#chat_form").on('submit', function(event){
                event.preventDefault();
                let user_input = $("#user_input").val();
                $.post("/", {user_input: user_input}, function(data){
                    $("#chat_window").append('<p>User: ' + user_input + '</p>');
                    $("#chat_window").append('<p>Bob: ' + data.ai_response + '</p>');
                });
                $("#user_input").val('');
            });
        });
    </script>
</body>
</html>
